################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wizzer/.vs/Wizzer/v15
/Wizzer/Wizzer/obj
/.vs
