################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wizzer/.vs/Wizzer/v15
/Wizzer/Wizzer/obj
/.vs
/Wizzer/.vs/config
/Wizzer/Wizzer/bin/Debug/netcoreapp2.0
/Wizzer/Wizzer/wwwroot/lib/bootstrap/node_modules
/Wizzer/Wizzer/wwwroot/lib/jquery-validation/node_modules
/Wizzer/Wizzer/wwwroot/lib/jquery-validation/npm-debug.log
