
@section Scripts {
    <script src="~/Frontend/dist/inline.bundle.js"></script>
    <script src="~/Frontend/dist/polyfills.bundle.js"></script>
    <script src="~/Frontend/dist/styles.bundle.js"></script>
    <script src="~/Frontend/dist/vendor.bundle.js"></script>
    <script src="~/Frontend/dist/main.bundle.js"></script>
}

<h2>Shop</h2>
<the-shop>Loading shop</the-shop>
