<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" />
</head>

<body>

    <section>
        @RenderBody()
    </section>


    <div id="footer" class="container-fluid">
        <div class="navbar-inverse navbar-fixed-bottom" style="background-color: transparent;">
            <h4 class="text-center ">&copy; Wizzer Project</h4>
        </div>
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>

    <environment names="Staging,Production">

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

        @*  <script src="" asp-append-version="true"></script>*@

    </environment>
    @RenderSection("scripts", false)


</body>
</html>