<div class="row">

    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Search for Products</h1>
            </div>

            <div class="panel-body">

                <div class="form-group">
                    <label for="searchCategoryId">Category ID</label>


                    <select id="searchCategoryId"
                            name="searchCategoryId"
                            ng-model="searchCategoryId"
                            class="form-control">
                        <option *ngFor="let id of shopService.categoryIds"
                                ng-selected="searchCategoryId"
                                value="{{id}}">{{id}}
                        </option>
                    </select>

                </div>
                <div>singleSelect = {{searchCategoryId}}</div>

                <div class="form-group">
                    <label for="searchProductName">Product Name</label>
                    <input type="text"
                           id="searchProductName"
                           name="searchProductName"
                           class="form-control" />
                </div>
            </div>

            <div class="panel-footer">
                <button formnovalidate="formnovalidate" class="btn btn-sm btn-primary" (click)="search()"><i class="fa fa-search"></i>&nbsp;Search</button>
                <button formnovalidate="formnovalidate" class="btn btn-sm btn-primary" (click)="resetSearch()"><i class="fa fa-share-alt"></i>&nbsp;Reset</button>

            </div>
        </div>
    </div>

    <div class="product-info col-md-4 well well-sm" *ngFor="let p of products">
        <img src="/img/{{p.category.categoryName}}.jpg" class="img-responsive" alt="" />
        <h3 style="font-size: large; font-weight: bold;">{{p.title}}</h3>
        <div>
            <strong>Price:</strong> {{p.price}}
        </div>
        <div>
            <strong>Category:</strong> {{p.category.categoryName}}
        </div>
        <div>
            <strong>Description :</strong> {{p.description}}
        </div>
        <button id="buyButton" class="btn btn-success btn-sm pull-right" (click)="addProduct(p)">Buy</button>
    </div>

</div>