<div class="row">

    <div class="product-info col-md-4 well well-sm" *ngFor="let p of shopService.products">
        <img src="/img/{{p.category.categoryName}}.jpg" class="img-responsive" alt="" />
        <h3 style="font-size: large; font-weight: bold;">{{p.title}}</h3>
        <div>
            <strong>Price:</strong> {{p.price}}
        </div>
        <div>
            <strong>Category:</strong> {{p.category.categoryName}}
        </div>
        <div>
            <strong>Description :</strong> {{p.description}}
        </div>
        <button id="buyButton" class="btn btn-success btn-sm pull-right" (click)="addToOrder(p)">Buy</button>
    </div>

</div>