<!--<nav class="navbar navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand navbar-left">Angular Router</a>
        <ul class="navbar-left" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="shop">Shop</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="checkout">Checkout</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="contact">Contact</a></li>
        </ul>
    </div>
</nav>-->
<topnavbar></topnavbar>
<router-outlet></router-outlet>