<div class="navbar navbar-default">
    <header class="container">
        <div class="navbar-header">
            <div class="navbar-brand"><i class="fa fa-shopping-bag"></i> Wizzer Project</div>
            <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button>
        </div>

        <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-model="login.loggedIn">
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="contact">Contact</a></li>
                <li><a routerLink="checkout">Checkout</a></li>
                <li><a routerLink="shop">Shop</a></li>


                <li ng-show="login.loggedIn"><a routerLink="login">Login</a></li>
                <li ng-show="!login.loggedIn"><a routerLink="login">Logout</a></li>


            </ul>
        </div>
    </header>
</div>
